MONGO_URI=your_mongodb_connection_string_here
PORT=your_port_number_here
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_CALLBACK_URL=your_github_callback_url_here
JWT_SECRET=your_jwt_secret_string_here
COOKIE_SECRET=your_cookie_secret_string_here
EMAIL_USER=your_email@email.com_here
EMAIL_PASS=your_email_application_password_here
BASE_URL=your_base_url_here