<div class="welcome-container container">
    <div class="welcome-image cover-wrapper hover-vinyl">
        <a href="/products">
            <img src="/static/coltrane.jpg" alt="Coltrane Welcome Image"></img>
        </a>
    </div>
    <div class="welcome-text">
        <p>
            <b>Hola!</b>
            <br></br>
            Llegaste al Rincón de Coltrane.
        </p>
        <p>
            Un pequeño, pero valioso rincón de Internet, donde podrás adquirir algunos de los álbumes más célebres del legendario saxofonista en formato de vinilo.
        </p>
        <p>
            A continuación, procederemos a listar los ítems disponibles. Debido al stock limitado, se permite un máximo de 3 vinilos por compra - elegí con cuidado!
        </p>
    </div>
    <a class="btn" href="/products" aria-label="Mostrar Productos">Mostrar Productos</a>
</div>